<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    <add name="ConnString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\TJMonitor.mdb;Persist Security Info=True;Jet OLEDB:Database Password=Password1" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <appSettings>
    <add key="SavePath" value="D:/TJData"/>
    <add key="ScanLines" value="1000"/>
    <add key="OnceScanLines" value="1"/>
    <add key="timeLeval" value="0"/>
    <add key="CCDPixels" value="5340"/>
    <add key="CustomePixels" value="2"/> 
  </appSettings>
</configuration>
